* {
		padding: 0px;
		margin: 0px;
		border: 0px;
}

*,
*:before,
*:after {
		box-sizing: border-box;
}

:focus,
:active {
		outline: none;
}

a:focus,
a:active {
		outline: none;
}

aside,
nav,
footer,
header,
section {
		display: block;
}

html,
body {
		height: 100%;
}

body {
		line-height: 1;
		-ms-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
}

input::-ms-clear {
		display: none;
}

button {
		cursor: pointer;
}

button::-moz-focus-inner {
		padding: 0;
		border: 0;
}

a,
a:visited {
		text-decoration: none;
}

a:hover {
		text-decoration: none;
}

ul li {
		list-style: none;
}

img {
		vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
		font-weight: inherit;
		font-size: inherit;
}

body {
		background-color: black;
}
body .wrapper {
		opacity: 0;
		transition: all 1s ease 0s;
}
body .wrapper .container .parralax {
		position: relative;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		background-color: black;
}
body .wrapper .container .parralax__bg {
		width: 100%;
		height: 100%;
}
body .wrapper .container .parralax__bg .img {
		position: absolute;
		width: 105%;
		height: 105%;
		top: -2.5%;
		left: -2.5%;
		background: url("../img/background.jpg") center center/cover no-repeat;
		animation-name: bg-anim;
		animation-duration: 25s;
		animation-iteration-count: infinite;
}
@keyframes bg-anim {
		0% {
				transform: scale(1);
		}
		50% {
				transform: scale(1.2);
		}
		100% {
				transform: scale(1);
		}
}
body .wrapper .container .parralax__bg .light-1 {
		bottom: -100%;
		transition: all 2s ease 2s;
		position: absolute;
		left: calc( (((435) * ((100vw - 320px) * 100) / (1600)) / 100) + 15px );
		border-radius: 50%;
		width: 1px;
		height: 1px;
		box-shadow: calc((((0) * ((100vw - 320px) * 100) / (1600)) / 100) + 0px) calc((((0) * ((100vw - 320px) * 100) / (1600)) / 100) + 0px) calc((((100) * ((100vw - 320px) * 100) / (1600)) / 100) + 50px) calc((((60) * ((100vw - 320px) * 100) / (1600)) / 100) + 40px) #ff00dd;
		animation-name: light-1-anim;
		animation-duration: 6s;
		animation-iteration-count: infinite;
}
@keyframes light-1-anim {
		0% {
				transform: scale(1);
				opacity: 1;
		}
		50% {
				transform: scale(0.8);
				opacity: 0.8;
		}
		100% {
				transform: scale(1);
				opacity: 1;
		}
}
body .wrapper .container .parralax__bg .light-1.active {
		bottom: calc( (((40) * ((100vw - 320px) * 100) / (1600)) / 100) + 80px );
}
body .wrapper .container .parralax__bg .light-2 {
		bottom: -100%;
		transition: all 2s ease 2s;
		position: absolute;
		left: 50%;
		border-radius: 50%;
		width: 1px;
		height: 1px;
		box-shadow: calc((((0) * ((100vw - 320px) * 100) / (1600)) / 100) + 0px) calc((((0) * ((100vw - 320px) * 100) / (1600)) / 100) + 0px) calc((((100) * ((100vw - 320px) * 100) / (1600)) / 100) + 50px) calc((((60) * ((100vw - 320px) * 100) / (1600)) / 100) + 40px) #5900ff;
		animation-name: light-2-anim;
		animation-duration: 8s;
		animation-iteration-count: infinite;
}
@keyframes light-2-anim {
		0% {
				transform: scale(1);
				opacity: 1;
		}
		50% {
				transform: scale(0.8);
				opacity: 0.8;
		}
		100% {
				transform: scale(1);
				opacity: 1;
		}
}
body .wrapper .container .parralax__bg .light-2.active {
		bottom: calc( (((40) * ((100vw - 320px) * 100) / (1600)) / 100) + 80px );
}
body .wrapper .container .parralax__bg .light-3 {
		bottom: -100%;
		transition: all 2s ease 2s;
		position: absolute;
		left: calc( (((1180) * ((100vw - 320px) * 100) / (1600)) / 100) + 320px );
		border-radius: 50%;
		width: 1px;
		height: 1px;
		box-shadow: calc((((0) * ((100vw - 320px) * 100) / (1600)) / 100) + 0px) calc((((0) * ((100vw - 320px) * 100) / (1600)) / 100) + 0px) calc((((100) * ((100vw - 320px) * 100) / (1600)) / 100) + 50px) calc((((60) * ((100vw - 320px) * 100) / (1600)) / 100) + 40px) #ffbb00;
		animation-name: light-3-anim;
		animation-duration: 7s;
		animation-iteration-count: infinite;
}
@keyframes light-3-anim {
		0% {
				transform: scale(1);
				opacity: 1;
		}
		50% {
				transform: scale(0.8);
				opacity: 0.8;
		}
		100% {
				transform: scale(1);
				opacity: 1;
		}
}
body .wrapper .container .parralax__bg .light-3.active {
		bottom: calc( (((40) * ((100vw - 320px) * 100) / (1600)) / 100) + 80px );
}
body .wrapper .container .parralax__rope-1 {
		width: 100%;
		height: 100%;
		position: relative;
}
body .wrapper .container .parralax__rope-1 .rope {
		transform: translateY(-50%);
		transition: all 1s ease 1s;
		position: absolute;
		top: calc( (((-80) * ((100vw - 320px) * 100) / (1600)) / 100) + 80px );
		height: calc( (((780) * ((100vw - 320px) * 100) / (1600)) / 100) + 300px );
		left: calc( (((-282) * ((100vw - 320px) * 100) / (1600)) / 100) + -45px );
		width: calc( (((2174) * ((100vw - 320px) * 100) / (1600)) / 100) + 400px );
		background: url("../img/rope.png") top center/100% 30% no-repeat;
}
body .wrapper .container .parralax__rope-1 .rope.active {
		transform: translateY(0);
}
body .wrapper .container .parralax__rope-1 .birds {
		position: absolute;
		top: 15.8%;
		left: 70%;
		width: 12%;
		height: 18%;
		background: url("../img/clouds/board-birds.png") 0 0/100% 100% no-repeat;
		animation-name: rope-1-birds-anim;
		animation-duration: 4s;
		transform-origin: top center;
		animation-iteration-count: infinite;
		animation-direction: alternate;
}
@keyframes rope-1-birds-anim {
		0% {
				transform: rotateZ(-10deg);
		}
		100% {
				transform: rotateZ(10deg);
		}
}
body .wrapper .container .parralax__rope-1 .cloud-1 {
		position: absolute;
		top: 19.6%;
		left: 32%;
		width: 10%;
		height: 14%;
		background: url("../img/clouds/board-cloud-1.png") 0 0/100% 100% no-repeat;
		animation-name: rope-1-cloud-1-anim;
		animation-duration: 6s;
		transform-origin: top center;
		animation-iteration-count: infinite;
		animation-direction: alternate;
}
@keyframes rope-1-cloud-1-anim {
		0% {
				transform: rotateZ(-10deg);
		}
		100% {
				transform: rotateZ(10deg);
		}
}
body .wrapper .container .parralax__rope-1 .cloud-2 {
		position: absolute;
		top: 14%;
		left: 15%;
		width: 10%;
		height: 14%;
		background: url("../img/clouds/board-cloud-2.png") 0 0/100% 100% no-repeat;
		animation-name: rope-1-cloud-2-anim;
		animation-duration: 5s;
		transform-origin: top center;
		animation-iteration-count: infinite;
		animation-direction: alternate;
}
@keyframes rope-1-cloud-2-anim {
		0% {
				transform: rotateZ(10deg);
		}
		100% {
				transform: rotateZ(-10deg);
		}
}
body .wrapper .container .parralax__rope-1 .cloud-3 {
		position: absolute;
		top: 19.5%;
		left: 58%;
		width: 10%;
		height: 14%;
		background: url("../img/clouds/board-cloud-2.png") 0 0/100% 100% no-repeat;
		animation-name: rope-1-cloud-2-anim;
		animation-duration: 4s;
		transform-origin: top center;
		animation-iteration-count: infinite;
		animation-direction: alternate;
}
@keyframes rope-1-cloud-2-anim {
		0% {
				transform: rotateZ(10deg);
		}
		100% {
				transform: rotateZ(-10deg);
		}
}
body .wrapper .container .parralax__rope-2 {
		width: 100%;
		height: 100%;
}
body .wrapper .container .parralax__rope-2 .rope {
		transform: translateY(-50%);
		transition: all 1s ease 1.3s;
		position: absolute;
		top: calc( (((-126) * ((100vw - 320px) * 100) / (1600)) / 100) + 40px );
		height: calc( (((780) * ((100vw - 320px) * 100) / (1600)) / 100) + 300px );
		left: calc( (((-282) * ((100vw - 320px) * 100) / (1600)) / 100) + -45px );
		width: calc( (((2174) * ((100vw - 320px) * 100) / (1600)) / 100) + 400px );
		background: url("../img/rope.png") top center/100% 30% no-repeat;
}
body .wrapper .container .parralax__rope-2 .rope.active {
		transform: translateY(0);
}
body .wrapper .container .parralax__rope-2 .cloud-1 {
		position: absolute;
		top: 20.3%;
		left: 50%;
		width: 10%;
		height: 16%;
		background: url("../img/clouds/board-cloud-4.png") 0 0/100% 100% no-repeat;
		animation-name: rope-2-cloud-1-anim;
		animation-duration: 8s;
		transform-origin: top center;
		animation-iteration-count: infinite;
		animation-direction: alternate;
}
@keyframes rope-2-cloud-1-anim {
		0% {
				transform: rotateZ(10deg);
		}
		100% {
				transform: rotateZ(-10deg);
		}
}
body .wrapper .container .parralax__rope-2 .cloud-2 {
		position: absolute;
		top: 5%;
		left: -2%;
		width: 12%;
		height: 16%;
		background: url("../img/clouds/board-cloud-2.png") 0 0/100% 100% no-repeat;
		animation-name: rope-2-cloud-2-anim;
		animation-duration: 7s;
		transform-origin: top center;
		animation-iteration-count: infinite;
		animation-direction: alternate;
}
@keyframes rope-2-cloud-2-anim {
		0% {
				transform: rotateZ(-10deg);
		}
		100% {
				transform: rotateZ(10deg);
		}
}
body .wrapper .container .parralax__rope-2 .cloud-3 {
		position: absolute;
		top: 12%;
		left: 78%;
		width: 12%;
		height: 16%;
		background: url("../img/clouds/board-cloud-3.png") 0 0/100% 100% no-repeat;
		animation-name: rope-2-cloud-2-anim;
		animation-duration: 7s;
		transform-origin: top center;
		animation-iteration-count: infinite;
		animation-direction: alternate;
}
@keyframes rope-2-cloud-2-anim {
		0% {
				transform: rotateZ(-10deg);
		}
		100% {
				transform: rotateZ(10deg);
		}
}
body .wrapper .container .parralax__rope-3 {
		width: 100%;
		height: 100%;
}
body .wrapper .container .parralax__rope-3 .rope {
		transform: translateY(-50%);
		transition: all 1s ease 1.6s;
		position: absolute;
		top: calc( (((-162) * ((100vw - 320px) * 100) / (1600)) / 100) + 0px );
		height: calc( (((780) * ((100vw - 320px) * 100) / (1600)) / 100) + 300px );
		left: calc( (((-282) * ((100vw - 320px) * 100) / (1600)) / 100) + -45px );
		width: calc( (((2174) * ((100vw - 320px) * 100) / (1600)) / 100) + 400px );
		background: url("../img/rope.png") top center/100% 30% no-repeat;
}
body .wrapper .container .parralax__rope-3 .rope.active {
		transform: translateY(0);
}
body .wrapper .container .parralax__rope-3 .birds {
		position: absolute;
		top: 16.3%;
		left: 18%;
		width: 16%;
		height: 24%;
		background: url("../img/clouds/board-birds.png") 0 0/100% 100% no-repeat;
		animation-name: rope-3-birds-anim;
		animation-duration: 4s;
		transform-origin: top center;
		animation-iteration-count: infinite;
		animation-direction: alternate;
}
@keyframes rope-3-birds-anim {
		0% {
				transform: rotateZ(-10deg);
		}
		100% {
				transform: rotateZ(10deg);
		}
}
body .wrapper .container .parralax__rope-3 .cloud-1 {
		position: absolute;
		top: 4.6%;
		left: 90%;
		width: 10%;
		height: 18%;
		background: url("../img/clouds/board-cloud-1.png") 0 0/100% 100% no-repeat;
		animation-name: rope-3-cloud-1-anim;
		animation-duration: 6s;
		transform-origin: top center;
		animation-iteration-count: infinite;
		animation-direction: alternate;
}
@keyframes rope-3-cloud-1-anim {
		0% {
				transform: rotateZ(-10deg);
		}
		100% {
				transform: rotateZ(10deg);
		}
}
body .wrapper .container .parralax__rope-3 .cloud-2 {
		position: absolute;
		top: 17%;
		left: 65%;
		width: 14%;
		height: 22%;
		background: url("../img/clouds/board-cloud-2.png") 0 0/100% 100% no-repeat;
		animation-name: rope-3-cloud-2-anim;
		animation-duration: 6s;
		transform-origin: top center;
		animation-iteration-count: infinite;
		animation-direction: alternate;
}
@keyframes rope-3-cloud-2-anim {
		0% {
				transform: rotateZ(10deg);
		}
		100% {
				transform: rotateZ(-10deg);
		}
}
body .wrapper .container .parralax__rope-3 .cloud-3 {
		position: absolute;
		top: 10.8%;
		left: 5%;
		width: 18%;
		height: 28%;
		background: url("../img/clouds/board-cloud-3.png") 0 0/100% 100% no-repeat;
		animation-name: rope-3-cloud-3-anim;
		animation-duration: 5s;
		transform-origin: top center;
		animation-iteration-count: infinite;
		animation-direction: alternate;
}
@keyframes rope-3-cloud-3-anim {
		0% {
				transform: rotateZ(10deg);
		}
		100% {
				transform: rotateZ(-10deg);
		}
}
body .wrapper .container .parralax__rope-3 .cloud-4 {
		position: absolute;
		top: 20.5%;
		left: 37%;
		width: 18%;
		height: 28%;
		background: url("../img/clouds/board-cloud-3.png") 0 0/100% 100% no-repeat;
		animation-name: rope-3-cloud-4-anim;
		animation-duration: 5s;
		transform-origin: top center;
		animation-iteration-count: infinite;
		animation-direction: alternate;
}
@keyframes rope-3-cloud-4-anim {
		0% {
				transform: rotateZ(10deg);
		}
		100% {
				transform: rotateZ(-10deg);
		}
}
body .wrapper .container .parralax .wave .img {
		transition: all 1.5s ease 1s;
		opacity: 0;
}
body .wrapper .container .parralax .wave .img.active {
		opacity: 1;
}
body .wrapper .container .parralax__wave-1 {
		position: relative;
		width: 100%;
		height: 100%;
}
body .wrapper .container .parralax__wave-1 .img {
		position: absolute;
		bottom: calc( (((50) * ((100vw - 320px) * 100) / (1600)) / 100) + 80px );
		left: calc( (((-85) * ((100vw - 320px) * 100) / (1600)) / 100) + -203px );
		width: calc( (((1696) * ((100vw - 320px) * 100) / (1600)) / 100) + 800px );
		height: calc( (((680) * ((100vw - 320px) * 100) / (1600)) / 100) + 400px );
		background: url("../img/waves/wave-plain.png") center bottom/10% 10% repeat-x;
		animation-name: wave-1-anim;
		animation-duration: 8s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
}
@keyframes wave-1-anim {
		0% {
				transform: rotateZ(0) translate3d(0, 1%, 0) rotateZ(0);
		}
		100% {
				transform: rotateZ(360deg) translate3d(0, 1%, 0) rotateZ(-360deg);
		}
}
body .wrapper .container .parralax__wave-1 .img .black {
		position: absolute;
		width: 130%;
		height: 20%;
		bottom: -20%;
		left: -15%;
		background-color: black;
}
body .wrapper .container .parralax__wave-2 {
		position: relative;
		width: 100%;
		height: 100%;
}
body .wrapper .container .parralax__wave-2 .img {
		position: absolute;
		bottom: calc( (((38) * ((100vw - 320px) * 100) / (1600)) / 100) + 67px );
		left: calc( (((-94) * ((100vw - 320px) * 100) / (1600)) / 100) + -194px );
		width: calc( (((1696) * ((100vw - 320px) * 100) / (1600)) / 100) + 800px );
		height: calc( (((680) * ((100vw - 320px) * 100) / (1600)) / 100) + 400px );
		background: url("../img/waves/wave-paint.png") center bottom/12% 12% repeat-x;
		animation-name: wave-2-anim;
		animation-duration: 7s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
}
@keyframes wave-2-anim {
		0% {
				transform: rotateZ(0) translate3d(0, 1%, 0) rotateZ(0);
		}
		100% {
				transform: rotateZ(360deg) translate3d(0, 1%, 0) rotateZ(-360deg);
		}
}
body .wrapper .container .parralax__wave-2 .img .black {
		position: absolute;
		width: 130%;
		height: 20%;
		bottom: -20%;
		left: -15%;
		background-color: black;
}
body .wrapper .container .parralax__wave-3 {
		position: relative;
		width: 100%;
		height: 100%;
}
body .wrapper .container .parralax__wave-3 .img {
		position: absolute;
		bottom: calc( (((15) * ((100vw - 320px) * 100) / (1600)) / 100) + 50px );
		left: calc( (((-105) * ((100vw - 320px) * 100) / (1600)) / 100) + -183px );
		width: calc( (((1696) * ((100vw - 320px) * 100) / (1600)) / 100) + 800px );
		height: calc( (((680) * ((100vw - 320px) * 100) / (1600)) / 100) + 400px );
		background: url("../img/waves/wave-plain.png") center bottom/15% 15% repeat-x;
		animation-name: wave-3-anim;
		animation-duration: 6s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
}
@keyframes wave-3-anim {
		0% {
				transform: rotateZ(0) translate3d(0, 1%, 0) rotateZ(0);
		}
		100% {
				transform: rotateZ(360deg) translate3d(0, 1%, 0) rotateZ(-360deg);
		}
}
body .wrapper .container .parralax__wave-3 .img .black {
		position: absolute;
		width: 130%;
		height: 20%;
		bottom: -20%;
		left: -15%;
		background-color: black;
}
body .wrapper .container .parralax__wave-4 {
		position: relative;
		width: 100%;
		height: 100%;
}
body .wrapper .container .parralax__wave-4 .img {
		position: absolute;
		bottom: calc( (((-10) * ((100vw - 320px) * 100) / (1600)) / 100) + 33px );
		left: calc( (((-119) * ((100vw - 320px) * 100) / (1600)) / 100) + -169px );
		width: calc( (((1696) * ((100vw - 320px) * 100) / (1600)) / 100) + 800px );
		height: calc( (((680) * ((100vw - 320px) * 100) / (1600)) / 100) + 400px );
		background: url("../img/waves/wave-paint.png") center bottom/18% 18% repeat-x;
		animation-name: wave-4-anim;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
}
@keyframes wave-4-anim {
		0% {
				transform: rotateZ(0) translate3d(0, 1%, 0) rotateZ(0);
		}
		100% {
				transform: rotateZ(360deg) translate3d(0, 1%, 0) rotateZ(-360deg);
		}
}
body .wrapper .container .parralax__wave-4 .img .black {
		position: absolute;
		width: 130%;
		height: 20%;
		bottom: -20%;
		left: -15%;
		background-color: black;
}
body .wrapper .container .parralax__wave-5 {
		position: relative;
		width: 100%;
		height: 100%;
}
body .wrapper .container .parralax__wave-5 .img {
		position: absolute;
		bottom: calc( (((-42) * ((100vw - 320px) * 100) / (1600)) / 100) + 10px );
		left: calc( (((-135) * ((100vw - 320px) * 100) / (1600)) / 100) + -153px );
		width: calc( (((1696) * ((100vw - 320px) * 100) / (1600)) / 100) + 800px );
		height: calc( (((680) * ((100vw - 320px) * 100) / (1600)) / 100) + 400px );
		background: url("../img/waves/wave-plain.png") center bottom/22% 22% repeat-x;
		animation-name: wave-5-anim;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
}
@keyframes wave-5-anim {
		0% {
				transform: rotateZ(0) translate3d(0, 1%, 0) rotateZ(0);
		}
		100% {
				transform: rotateZ(360deg) translate3d(0, 1%, 0) rotateZ(-360deg);
		}
}
body .wrapper .container .parralax__wave-5 .img .black {
		position: absolute;
		width: 130%;
		height: 100%;
		bottom: -100%;
		left: -15%;
		background-color: black;
}
body .wrapper .container .parralax__wave-6 {
		position: relative;
		width: 100%;
		height: 100%;
}
body .wrapper .container .parralax__wave-6 .img {
		position: absolute;
		bottom: calc( (((-66) * ((100vw - 320px) * 100) / (1600)) / 100) + -10px );
		left: calc( (((-148) * ((100vw - 320px) * 100) / (1600)) / 100) + -140px );
		width: calc( (((1696) * ((100vw - 320px) * 100) / (1600)) / 100) + 800px );
		height: calc( (((680) * ((100vw - 320px) * 100) / (1600)) / 100) + 400px );
		background: url("../img/waves/wave-paint.png") center bottom/25% 25% repeat-x;
		animation-name: wave-6-anim;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
}
@keyframes wave-6-anim {
		0% {
				transform: rotateZ(0) translate3d(0, 2%, 0) rotateZ(0);
		}
		100% {
				transform: rotateZ(360deg) translate3d(0, 2%, 0) rotateZ(-360deg);
		}
}
body .wrapper .container .parralax__liighthouse {
		width: 100%;
		height: 100%;
}
body .wrapper .container .parralax__liighthouse .img {
		position: absolute;
		bottom: -100%;
		transition: all 1s ease 2.5s;
		left: calc( (((1280) * ((100vw - 320px) * 100) / (1600)) / 100) + 220px );
		width: calc( (((190) * ((100vw - 320px) * 100) / (1600)) / 100) + 70px );
		height: calc( (((370) * ((100vw - 320px) * 100) / (1600)) / 100) + 130px );
		background: url("../img/lighthouse.png") center bottom/100% 100% no-repeat;
		animation-name: liighthouse-anim;
		animation-duration: 8s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
}
@keyframes liighthouse-anim {
		0% {
				transform: rotateZ(-10deg) rotateX(0deg) translate3d(-10%, 5%, 0);
		}
		50% {
				transform: rotateZ(10deg) rotateX(0deg) translate3d(10%, -10%, 0);
		}
		100% {
				transform: rotateZ(-10deg) rotateX(0deg) translate3d(-10%, 5%, 0);
		}
}
body .wrapper .container .parralax__liighthouse .img .light {
		display: inline;
		position: absolute;
		top: 25%;
		left: 50%;
		box-shadow: calc((((0) * ((100vw - 320px) * 100) / (1600)) / 100) + 0px) calc((((0) * ((100vw - 320px) * 100) / (1600)) / 100) + 0px) calc((((0) * ((100vw - 320px) * 100) / (1600)) / 100) + 150px) calc((((40) * ((100vw - 320px) * 100) / (1600)) / 100) + 60px) rgba(255, 0, 221, 0.637);
		animation-name: light-anim;
		animation-duration: 6s;
		animation-iteration-count: infinite;
}
@keyframes light-anim {
		0% {
				transform: scale(1);
				opacity: 0.4;
		}
		50% {
				transform: scale(0.1);
				opacity: 0.1;
		}
		100% {
				transform: scale(1);
				opacity: 0.4;
		}
}
body .wrapper .container .parralax__liighthouse .img.active {
		bottom: calc( (((0) * ((100vw - 320px) * 100) / (1600)) / 100) + 45px );
}
body .wrapper.active {
		opacity: 1;
}