@import "null.scss";
@import "mixins.scss";

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    background-color: black;
    .wrapper {
        width: 100vw;
        height: 100vh;
        opacity: 0;
        transition: all 1s ease 0.5s;
        .container {
            .parralax {
                position: relative;
                width: 100vw;
                height: 100vh;
                overflow: hidden;
                background-color: black;
                &__bg {
                    width: 100vw;
                    height: 100vh;
                    .img {
                        position: absolute;
                        width: 105%;
                        height: 105%;
                        top: -2.5%;
                        left: -2.5%;
                        background: url("../img/background.jpg") center center / cover no-repeat;

                        animation-name: bg-anim;
                        animation-duration: 25s;
                        animation-iteration-count: infinite;
                        @keyframes bg-anim {
                            0% {
                                transform: scale(1);
                            }
                            50% {
                                transform: scale(1.2);
                            }
                            100% {
                                transform: scale(1);
                            }
                        }
                    }
                    .light-1 {
                        bottom: -20%;
                        transition: all 2s ease 2s;

                        position: absolute;
                        @include adaptiveLeft(450, 15);

                        border-radius: 50%;
                        width: 1px;
                        height: 1px;
                        @include adaptiveBoxShadow(0, 0, 150, 100, 0, 0, 50, 40, rgb(255, 0, 221));

                        animation-name: light-1-anim;
                        animation-duration: 6s;
                        animation-iteration-count: infinite;
                        @keyframes light-1-anim {
                            0% {
                                transform: scale(1);
                                opacity: 1;
                            }
                            50% {
                                transform: scale(0.8);
                                opacity: 0.8;
                            }
                            100% {
                                transform: scale(1);
                                opacity: 1;
                            }
                        }
                    }
                    .light-1.active {
                        @include adaptiveBottom(120, 80);
                    }

                    .light-2 {
                        bottom: -20%;
                        transition: all 2s ease 2s;
                        position: absolute;
                        left: 50%;
                        border-radius: 50%;
                        width: 1px;
                        height: 1px;
                        @include adaptiveBoxShadow(0, 0, 150, 100, 0, 0, 50, 40, rgb(89, 0, 255));

                        animation-name: light-2-anim;
                        animation-duration: 8s;
                        animation-iteration-count: infinite;
                        @keyframes light-2-anim {
                            0% {
                                transform: scale(1);
                                opacity: 1;
                            }
                            50% {
                                transform: scale(0.8);
                                opacity: 0.8;
                            }
                            100% {
                                transform: scale(1);
                                opacity: 1;
                            }
                        }
                    }
                    .light-2.active {
                        @include adaptiveBottom(120, 80);
                    }

                    .light-3 {
                        bottom: -20%;
                        transition: all 2s ease 2s;
                        position: absolute;
                        @include adaptiveLeft(1500, 320);
                        border-radius: 50%;
                        width: 1px;
                        height: 1px;
                        @include adaptiveBoxShadow(0, 0, 150, 100, 0, 0, 50, 40, rgb(255, 187, 0));

                        animation-name: light-3-anim;
                        animation-duration: 7s;
                        animation-iteration-count: infinite;
                        @keyframes light-3-anim {
                            0% {
                                transform: scale(1);
                                opacity: 1;
                            }
                            50% {
                                transform: scale(0.8);
                                opacity: 0.8;
                            }
                            100% {
                                transform: scale(1);
                                opacity: 1;
                            }
                        }
                    }
                    .light-3.active {
                        @include adaptiveBottom(120, 80);
                    }
                }

                &__rope-1 {
                    width: 100%;
                    height: 100%;
                    .rope1-wrapper {
                        position: absolute;
                        top: 6%;
                        @media only screen and (orientation: portrait) {
                            top: 20%;
                        }
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: all 1s ease 2s;
                        transform: translateY(-50%);

                        .rope {
                            position: absolute;
                            left: -15%;
                            width: 130%;
                        }
                        .birds-1 {
                            position: absolute;
                            @include adaptiveTop(120, 20);
                            transform: scale(0.6);
                            left: -5%;
                            width: 20%;

                            animation-name: rope-3-birds-anim;
                            animation-duration: 4s;
                            transform-origin: top center;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                            @media only screen and (orientation: landscape) {
                                @keyframes rope-3-birds-anim {
                                    0% {
                                        transform: scale(0.6) rotateZ(-10deg);
                                    }
                                    100% {
                                        transform: scale(0.6) rotateZ(10deg);
                                    }
                                }
                            }
                            @media only screen and (orientation: portrait) {
                                @keyframes rope-3-birds-anim {
                                    0% {
                                        transform: scale(1) rotateZ(-10deg);
                                    }
                                    100% {
                                        transform: scale(1) rotateZ(10deg);
                                    }
                                }
                            }
                        }
                        .cloud-1 {
                            position: absolute;
                            @include adaptiveTop(185, 31);
                            transform: scale(0.6);
                            left: 15%;
                            width: 20%;

                            animation-name: rope-3-cloud-1-anim;
                            animation-duration: 6s;
                            transform-origin: top center;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                            @media only screen and (orientation: landscape) {
                                @keyframes rope-3-cloud-1-anim {
                                    0% {
                                        transform: scale(0.6) rotateZ(-10deg);
                                    }
                                    100% {
                                        transform: scale(0.6) rotateZ(10deg);
                                    }
                                }
                            }
                            @media only screen and (orientation: portrait) {
                                @keyframes rope-3-cloud-1-anim {
                                    0% {
                                        transform: scale(1) rotateZ(-10deg);
                                    }
                                    100% {
                                        transform: scale(1) rotateZ(10deg);
                                    }
                                }
                            }
                        }
                        .cloud-2 {
                            position: absolute;
                            @include adaptiveTop(212, 35);
                            transform: scale(0.6);
                            left: 30%;
                            width: 20%;

                            animation-name: rope-3-cloud-2-anim;
                            animation-duration: 6s;
                            transform-origin: top center;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                            @media only screen and (orientation: landscape) {
                                @keyframes rope-3-cloud-2-anim {
                                    0% {
                                        transform: scale(0.6) rotateZ(10deg);
                                    }
                                    100% {
                                        transform: scale(0.6) rotateZ(-10deg);
                                    }
                                }
                            }
                            @media only screen and (orientation: portrait) {
                                @keyframes rope-3-cloud-2-anim {
                                    0% {
                                        transform: scale(1) rotateZ(10deg);
                                    }
                                    100% {
                                        transform: scale(1) rotateZ(-10deg);
                                    }
                                }
                            }
                        }
                        .birds-2 {
                            position: absolute;
                            @include adaptiveTop(210, 35);
                            transform: scale(0.6);
                            left: 48%;
                            width: 20%;

                            animation-name: rope-3-birds-anim;
                            animation-duration: 4s;
                            transform-origin: top center;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                            @media only screen and (orientation: landscape) {
                                @keyframes rope-3-birds-anim {
                                    0% {
                                        transform: scale(0.6) rotateZ(-10deg);
                                    }
                                    100% {
                                        transform: scale(0.6) rotateZ(10deg);
                                    }
                                }
                            }
                            @media only screen and (orientation: portrait) {
                                @keyframes rope-3-birds-anim {
                                    0% {
                                        transform: scale(1) rotateZ(-10deg);
                                    }
                                    100% {
                                        transform: scale(1) rotateZ(10deg);
                                    }
                                }
                            }
                        }
                        .cloud-3 {
                            position: absolute;
                            @include adaptiveTop(200, 33);
                            transform: scale(0.6);
                            left: 60%;
                            width: 20%;

                            animation-name: rope-3-cloud-3-anim;
                            animation-duration: 5s;
                            transform-origin: top center;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                            @media only screen and (orientation: landscape) {
                                @keyframes rope-3-cloud-3-anim {
                                    0% {
                                        transform: scale(0.6) rotateZ(10deg);
                                    }
                                    100% {
                                        transform: scale(0.6) rotateZ(-10deg);
                                    }
                                }
                            }
                            @media only screen and (orientation: portrait) {
                                @keyframes rope-3-cloud-3-anim {
                                    0% {
                                        transform: scale(1) rotateZ(10deg);
                                    }
                                    100% {
                                        transform: scale(1) rotateZ(-10deg);
                                    }
                                }
                            }
                        }
                        .cloud-4 {
                            position: absolute;
                            @include adaptiveTop(121, 20);
                            transform: scale(0.6);
                            left: 85%;
                            width: 20%;

                            animation-name: rope-3-cloud-4-anim;
                            animation-duration: 5s;
                            transform-origin: top center;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;

                            @media only screen and (orientation: landscape) {
                                @keyframes rope-3-cloud-4-anim {
                                    0% {
                                        transform: scale(0.6) rotateZ(-10deg);
                                    }
                                    100% {
                                        transform: scale(0.6) rotateZ(10deg);
                                    }
                                }
                            }
                            @media only screen and (orientation: portrait) {
                                @keyframes rope-3-cloud-4-anim {
                                    0% {
                                        transform: scale(1) rotateZ(-10deg);
                                    }
                                    100% {
                                        transform: scale(1) rotateZ(10deg);
                                    }
                                }
                            }
                        }
                    }
                    .rope1-wrapper.active {
                        transform: translateY(0);
                    }
                }

                &__rope-2 {
                    width: 100%;
                    height: 100%;
                    .rope2-wrapper {
                        position: absolute;
                        top: -2%;
                        @media only screen and (orientation: portrait) {
                            top: 15%;
                        }
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transform: translateY(-50%);
                        transition: all 1s ease 3s;

                        .rope {
                            position: absolute;
                            left: -15%;
                            width: 130%;
                        }
                        .cloud-1 {
                            position: absolute;
                            @include adaptiveTop(163, 27);
                            left: 7%;
                            transform: scale(0.7);
                            width: 20%;

                            animation-name: rope-2-cloud-1-anim;
                            animation-duration: 8s;
                            transform-origin: top center;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                            @media only screen and (orientation: landscape) {
                                @keyframes rope-2-cloud-1-anim {
                                    0% {
                                        transform: scale(0.7) rotateZ(10deg);
                                    }
                                    100% {
                                        transform: scale(0.7) rotateZ(-10deg);
                                    }
                                }
                            }
                            @media only screen and (orientation: portrait) {
                                @keyframes rope-2-cloud-1-anim {
                                    0% {
                                        transform: scale(1.1) rotateZ(10deg);
                                    }
                                    100% {
                                        transform: scale(1.1) rotateZ(-10deg);
                                    }
                                }
                            }
                        }
                        .cloud-2 {
                            position: absolute;
                            @include adaptiveTop(212, 35);
                            left: 40%;
                            transform: scale(0.7);
                            width: 20%;

                            animation-name: rope-2-cloud-2-anim;
                            animation-duration: 7s;
                            transform-origin: top center;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;

                            @media only screen and (orientation: landscape) {
                                @keyframes rope-2-cloud-2-anim {
                                    0% {
                                        transform: scale(0.7) rotateZ(-10deg);
                                    }
                                    100% {
                                        transform: scale(0.7) rotateZ(10deg);
                                    }
                                }
                            }
                            @media only screen and (orientation: portrait) {
                                @keyframes rope-2-cloud-2-anim {
                                    0% {
                                        transform: scale(1.1) rotateZ(-10deg);
                                    }
                                    100% {
                                        transform: scale(1.1) rotateZ(10deg);
                                    }
                                }
                            }
                        }
                        .cloud-3 {
                            position: absolute;
                            @include adaptiveTop(156, 26);
                            left: 75%;
                            transform: scale(0.7);
                            width: 20%;

                            animation-name: rope-2-cloud-2-anim;
                            animation-duration: 7s;
                            transform-origin: top center;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;

                            @media only screen and (orientation: landscape) {
                                @keyframes rope-2-cloud-2-anim {
                                    0% {
                                        transform: scale(0.7) rotateZ(-10deg);
                                    }
                                    100% {
                                        transform: scale(0.7) rotateZ(10deg);
                                    }
                                }
                            }
                            @media only screen and (orientation: portrait) {
                                @keyframes rope-2-cloud-2-anim {
                                    0% {
                                        transform: scale(1.1) rotateZ(-10deg);
                                    }
                                    100% {
                                        transform: scale(1.1) rotateZ(10deg);
                                    }
                                }
                            }
                        }
                    }
                    .rope2-wrapper.active {
                        transform: translateY(0);
                    }
                }

                &__rope-3 {
                    width: 100%;
                    height: 100%;

                    .rope3-wrapper {
                        position: absolute;
                        top: -10%;
                        @media only screen and (orientation: portrait) {
                            top: 10%;
                        }
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transform: translateY(-50%);
                        transition: all 1s ease 4s;

                        .rope {
                            position: absolute;
                            left: -15%;
                            width: 130%;
                        }
                        .birds {
                            position: absolute;
                            @include adaptiveTop(140, 23);
                            left: 80%;
                            transform: scale(0.8);
                            width: 20%;

                            animation-name: rope-1-birds-anim;
                            animation-duration: 4s;
                            transform-origin: top center;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;

                            @media only screen and (orientation: landscape) {
                                @keyframes rope-1-birds-anim {
                                    0% {
                                        transform: scale(0.8) rotateZ(-10deg);
                                    }
                                    100% {
                                        transform: scale(0.8) rotateZ(10deg);
                                    }
                                }
                            }
                            @media only screen and (orientation: portrait) {
                                @keyframes rope-1-birds-anim {
                                    0% {
                                        transform: scale(1.2) rotateZ(-10deg);
                                    }
                                    100% {
                                        transform: scale(1.2) rotateZ(10deg);
                                    }
                                }
                            }
                        }
                        .cloud-1 {
                            position: absolute;
                            @include adaptiveTop(120, 20);
                            left: -5%;
                            transform: scale(0.8);
                            width: 20%;

                            animation-name: rope-1-cloud-1-anim;
                            animation-duration: 6s;
                            transform-origin: top center;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                            @media only screen and (orientation: landscape) {
                                @keyframes rope-1-cloud-1-anim {
                                    0% {
                                        transform: scale(0.8) rotateZ(-10deg);
                                    }
                                    100% {
                                        transform: scale(0.8) rotateZ(10deg);
                                    }
                                }
                            }
                            @media only screen and (orientation: portrait) {
                                @keyframes rope-1-cloud-1-anim {
                                    0% {
                                        transform: scale(1.2) rotateZ(-10deg);
                                    }
                                    100% {
                                        transform: scale(1.2) rotateZ(10deg);
                                    }
                                }
                            }
                        }
                        .cloud-2 {
                            // border: 1px solid red;
                            position: absolute;
                            @include adaptiveTop(204, 34);
                            left: 25%;
                            transform: scale(0.8);
                            width: 20%;

                            animation-name: rope-1-cloud-2-anim;
                            animation-duration: 5s;
                            transform-origin: top center;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                            @media only screen and (orientation: landscape) {
                                @keyframes rope-1-cloud-2-anim {
                                    0% {
                                        transform: scale(0.8) rotateZ(10deg);
                                    }
                                    100% {
                                        transform: scale(0.8) rotateZ(-10deg);
                                    }
                                }
                            }
                            @media only screen and (orientation: portrait) {
                                @keyframes rope-1-cloud-2-anim {
                                    0% {
                                        transform: scale(1.2) rotateZ(10deg);
                                    }
                                    100% {
                                        transform: scale(1.2) rotateZ(-10deg);
                                    }
                                }
                            }
                        }
                        .cloud-3 {
                            position: absolute;
                            @include adaptiveTop(205, 34);
                            left: 55%;
                            transform: scale(0.8);
                            width: 20%;

                            animation-name: rope-1-cloud-2-anim;
                            animation-duration: 4s;
                            transform-origin: top center;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;

                            @media only screen and (orientation: landscape) {
                                @keyframes rope-1-cloud-2-anim {
                                    0% {
                                        transform: scale(0.8) rotateZ(10deg);
                                    }
                                    100% {
                                        transform: scale(0.8) rotateZ(-10deg);
                                    }
                                }
                            }
                            @media only screen and (orientation: portrait) {
                                @keyframes rope-1-cloud-2-anim {
                                    0% {
                                        transform: scale(1.2) rotateZ(10deg);
                                    }
                                    100% {
                                        transform: scale(1.2) rotateZ(-10deg);
                                    }
                                }
                            }
                        }
                    }
                    .rope3-wrapper.active {
                        transform: translateY(0);
                    }
                }

                // .wave {
                //     .img {
                //         transition: all 1.5s ease 1s;
                //         opacity: 0;
                //     }
                // }
                // .wave {
                //     .img.active {
                //         opacity: 1;
                //     }
                // }

                &__wave-1 {
                    width: 100%;
                    height: 100%;
                    .img-w {
                        position: absolute;
                        // display: none;
                        bottom: 9%;
                        left: -70%;
                        width: 240%;
                        transform: scale(0.5);
                        height: 25%;
                        background: url("../img/waves/wave-plain.png") center bottom / 100% 100% repeat-x;
                        background-size: contain;

                        animation-name: wave-1-anim;
                        animation-duration: 8s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                        @keyframes wave-1-anim {
                            0% {
                                transform: scale(0.5) rotateZ(0) translate3d(0, 5%, 0) rotateZ(0);
                            }
                            100% {
                                transform: scale(0.5) rotateZ(360deg) translate3d(0, 5%, 0) rotateZ(-360deg);
                            }
                        }

                        .black {
                            position: absolute;
                            width: 130%;
                            height: 20%;
                            bottom: -20%;
                            left: -15%;
                            background-color: black;
                        }
                    }
                }

                &__wave-2 {
                    width: 100%;
                    height: 100%;
                    .img-w {
                        // display: none;

                        position: absolute;
                        bottom: 6%;
                        left: -55%;
                        width: 210%;
                        transform: scale(0.6);
                        height: 25%;
                        background: url("../img/waves/wave-paint.png") center bottom / 100% 100% repeat-x;
                        background-size: contain;
                        animation-name: wave-2-anim;
                        animation-duration: 7s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                        @keyframes wave-2-anim {
                            0% {
                                transform: scale(0.6) rotateZ(0) translate3d(0, 6%, 0) rotateZ(0);
                            }
                            100% {
                                transform: scale(0.6) rotateZ(360deg) translate3d(0, 6%, 0) rotateZ(-360deg);
                            }
                        }
                        .black {
                            position: absolute;
                            width: 130%;
                            height: 20%;
                            bottom: -20%;
                            left: -15%;
                            background-color: black;
                        }
                    }
                }

                &__wave-3 {
                    width: 100%;
                    height: 100%;
                    .img-w {
                        // display: none;

                        position: absolute;
                        bottom: 3%;
                        left: -40%;
                        width: 180%;
                        transform: scale(0.7);
                        height: 25%;
                        background: url("../img/waves/wave-plain.png") center bottom / 100% 100% repeat-x;
                        background-size: contain;
                        animation-name: wave-3-anim;
                        animation-duration: 6s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                        @keyframes wave-3-anim {
                            0% {
                                transform: scale(0.7) rotateZ(0) translate3d(0, 7%, 0) rotateZ(0);
                            }
                            100% {
                                transform: scale(0.7) rotateZ(360deg) translate3d(0, 7%, 0) rotateZ(-360deg);
                            }
                        }
                        .black {
                            position: absolute;
                            width: 130%;
                            height: 20%;
                            bottom: -20%;
                            left: -15%;
                            background-color: black;
                        }
                    }
                }

                &__wave-4 {
                    width: 100%;
                    height: 100%;
                    .img-w {
                        // display: none;

                        position: absolute;
                        bottom: 0%;
                        left: -35%;
                        width: 170%;
                        transform: scale(0.8);
                        height: 25%;
                        background: url("../img/waves/wave-paint.png") center bottom / 100% 100% repeat-x;
                        background-size: contain;

                        animation-name: wave-4-anim;
                        animation-duration: 5s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                        @keyframes wave-4-anim {
                            0% {
                                transform: scale(0.8) rotateZ(0) translate3d(0, 8%, 0) rotateZ(0);
                            }
                            100% {
                                transform: scale(0.8) rotateZ(360deg) translate3d(0, 8%, 0) rotateZ(-360deg);
                            }
                        }
                        .black {
                            position: absolute;
                            width: 130%;
                            height: 20%;
                            bottom: -20%;
                            left: -15%;
                            background-color: black;
                        }
                    }
                }

                &__wave-5 {
                    width: 100%;
                    height: 100%;
                    .img-w {
                        // display: none;

                        position: absolute;
                        bottom: -3%;
                        left: -30%;
                        width: 160%;
                        transform: scale(0.9);
                        height: 25%;
                        background: url("../img/waves/wave-plain.png") center bottom / 100% 100% repeat-x;
                        background-size: contain;

                        animation-name: wave-5-anim;
                        animation-duration: 4s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                        @keyframes wave-5-anim {
                            0% {
                                transform: scale(0.9) rotateZ(0) translate3d(0, 9%, 0) rotateZ(0);
                            }
                            100% {
                                transform: scale(0.9) rotateZ(360deg) translate3d(0, 9%, 0) rotateZ(-360deg);
                            }
                        }
                        .black {
                            position: absolute;
                            width: 130%;
                            height: 100%;
                            bottom: -100%;
                            left: -15%;
                            background-color: black;
                        }
                    }
                }

                &__wave-6 {
                    width: 100%;
                    height: 100%;
                    .img-w {
                        position: absolute;
                        bottom: -6%;
                        left: -25%;
                        width: 150%;
                        height: 25%;
                        background: url("../img/waves/wave-paint.png") center bottom / 100% 100% repeat-x;
                        background-size: contain;

                        animation-name: wave-6-anim;
                        animation-duration: 4s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;

                        @keyframes wave-6-anim {
                            0% {
                                transform: rotateZ(0) translate3d(0, 10%, 0) rotateZ(0);
                            }
                            100% {
                                transform: rotateZ(-360deg) translate3d(0, 10%, 0) rotateZ(360deg);
                            }
                        }
                    }
                }

                &__liighthouse {
                    width: 100%;
                    height: 100%;
                    .img-l {
                        position: absolute;
                        transition: all 1s ease 5s;
                        bottom: -40%;
                        left: 65%;
                        width: 25%;
                        height: 40%;
                        background: url("../img/lighthouse.png") center bottom / 100% 100% no-repeat;
                        background-size: contain;

                        animation-name: liighthouse-anim;
                        animation-duration: 8s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                        @keyframes liighthouse-anim {
                            0% {
                                transform: rotateZ(-10deg) rotateX(0deg) translate3d(-10%, 5%, 0);
                            }
                            50% {
                                transform: rotateZ(10deg) rotateX(0deg) translate3d(10%, -10%, 0);
                            }
                            100% {
                                transform: rotateZ(-10deg) rotateX(0deg) translate3d(-10%, 5%, 0);
                            }
                        }

                        .light {
                            display: inline;
                            position: absolute;
                            top: 25%;
                            left: 50%;
                            @include adaptiveBoxShadow(0, 0, 150, 100, 0, 0, 150, 60, rgba(255, 0, 221, 0.637));
                            animation-name: light-anim;
                            animation-duration: 6s;
                            animation-iteration-count: infinite;
                            @keyframes light-anim {
                                0% {
                                    transform: scale(1);
                                    opacity: 0.4;
                                }
                                50% {
                                    transform: scale(0.1);
                                    opacity: 0.1;
                                }
                                100% {
                                    transform: scale(1);
                                    opacity: 0.4;
                                }
                            }
                        }
                    }
                    .img-l.active {
                        bottom: 7%;
                    }
                }
            }
        }
    }
    .wrapper.active {
        opacity: 1;
    }
}
